<?xml version="1.0"?>
<!--
/**
 * RocketWeb
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category  RocketWeb
 * @package   MageOS_NetSuiteConnector
 * @copyright Copyright (c) 2026 RocketWeb (http://rocketweb.com)
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author    Rocket Web Inc.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Backend\Block\Widget\Button\Toolbar">
        <plugin name="mageos_netsuite_add_button_to_netsuite"
                type="MageOS\NetSuiteConnector\Core\Model\Plugin\AddViewInNetSuiteButtons" />
    </type>

    <type name="Magento\Framework\Notification\MessageList">
        <arguments>
            <argument name="messages" xsi:type="array">
                <item name="netsuite_import_not_run_notification"
                      xsi:type="string">MageOS\NetSuiteConnector\Core\Model\Message\ImportNotRun</item>
                <item name="netsuite_export_not_run_notification"
                      xsi:type="string">MageOS\NetSuiteConnector\Core\Model\Message\ExportNotRun</item>
            </argument>
        </arguments>
    </type>
    <preference for="MageOS\NetSuiteConnector\Core\Api\MonitorListingCollectionInterface"
                type="MageOS\NetSuiteConnector\Queue\Ui\DataProvider\Monitor\Listing\Collection"/>
    <preference for="MageOS\NetSuiteConnector\Core\Api\MonitorItemCollectionInterface"
                type="MageOS\NetSuiteConnector\Queue\Model\ResourceModel\Monitor\MonitorItem\Collection"/>
    <type name="Magento\Framework\Notification\MessageList">
        <arguments>
            <argument name="messages" xsi:type="array">
                <item name="netsuite_stock_not_run_notificiation" xsi:type="string">MageOS\NetSuiteConnector\Inventory\Model\Message\StockNotRun</item>
            </argument>
        </arguments>
    </type>
</config>
